@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("./Confess.png");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Potta One", cursive;
  margin: 0;
}

h1 {
  font-weight: normal;
  font-size: 2rem;
  margin-top: 4rem;
  color: #ec9383;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 1rem 2rem;
}

.countdown-el {
  text-align: center;
}

.countdown-el span {
  font-size: 1.3rem;
}

/* Add this to your style.css */
#fixed-gif {
  width: 100px; /* Adjust width as needed */
  height: 90px; /* Keeps aspect ratio */
  display: block; /* Centers it if needed, or remove for inline */
  margin: -1rem auto; /* Centers horizontally and adds vertical space; tweak as desired */
}
